inspect
json
secrets
traceback
types
openai
dotenv
timeit
time
os
webbrowser
threading
pytesseract
clipboard
pyttsx3
base64
pygetwindow
pyautogui
serpapi
arxiv
urllib
urllib.parse
playsound
speech_recognition
PIL
io